@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,100;1,200&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap');
:root{
    --blue:#0188DF;
    --black:#354046;
}

*{
    font-family: 'Roboto', sans-serif;
    margin:0; padding:0;
    box-sizing:border-box;
    border: none !important;
    outline:none !important;
    text-decoration: none !important;
    text-transform: capitalize;
    font-weight: 400;
    transition: all .2s linear;

}
*::selection{
    background: var(--black);
    color:#fff;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
body{
    overflow-x: hidden;
}
header{
    width:100%;
    position: fixed;
    top:0; left:0;
    padding:2rem 1rem;
    z-index: 1000;
}

header .container{
    display: flex;
    align-items:center;
    justify-content: space-between;
    

}